{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}Dizionario Italiano  
               {% endblock title %}
        </title>
        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <!-- CSS & Fa icons -->
        <link rel="stylesheet" href="{% static 'fa/css/all.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        
    </head>
    <body>

        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <div class="col-12">
                    <div class='row'>
                        <div class="col-2">
                            <img class="flag-italy" src="{% static 'IT.png' %}">
                        </div>
                        <div class="col-lg-10 col-sm-10">
                        <h1>Dizionario Italiano</h1>
                        <form action="{% url 'dizionario' %}" class="form-inline" method="POST">
                            {% csrf_token %}
                            {{ form.parola }}
                            <button type="submit" class="btn btn-primary mb-2"><i class="fa fa-search" style="font-size:15px"></i></button>
                        </form>
                            
                        </div>
                    </div>
                </div>                
            </div>
        </div>
    
        <div class="container">
            {% block content %}
            {% endblock content %}
        </div>
    </body>
</html>